*{
  padding: 0;
  margin: 0;
  font-family:  'Montserrat', Arial, sans-serif;
  box-sizing: border-box;

}

:root{
  --color-1:#EDF5E1;
  --color-2:#8EE4AF;
}
body,html
{
  background-color: #EDF5E1;
  width: 100%;
  height: 100%;

}
.header {
  background-color: #8EE4AF;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;  /* ovime odmicemo | pravimo prostor */
}
nav ul{
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 1rem;

}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  position: relative;
}
li :hover {
  background-color: #039d88;
  border-radius: 2rem 2rem 2rem 2rem;
}
.search-btn{
  display: flex;
}
.inputText
{
  outline: none;
  border: 1px solid #EDF5E1;
  border-radius: 2rem 0 0 2rem;
  padding: 0.5rem 5rem;
  font-size: 1rem;
  color: black;
  background-color:#EDF5E1 ;
  box-shadow: inset 0 5px 10px gray;
}
.search-btn button{
  background-color: #0eeac9;
  box-shadow: inset 0 5px 10px gray;
  padding: 0.2rem 1rem;
  border-radius: 0 2rem 2rem 0;
  color: white;
  font-size: 1rem;
}
.container{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.movie
{
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  width: 250px;
  background-color: #f4f6fc;
  margin: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

}
.container :hover{

  box-shadow: 0px 0px 30px -25px rgba(0,0,0, 0.5);
  transition: all 0.9s;
}
.poster{
  width: 100%;
}
.movie-details
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-details .box{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.moive-details .title{
  width: 150px;
  text-align: center;
}
.btn-details
{
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  padding:5px;
  font-weight: bold;
  color: black;
}
a:hover{
  background-color: #cecece;
  transition: 0.5s;
}

.movie-details .overview{
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  background-color: rgba(208, 208, 208, 0.98);
  opacity: 0.9;
  color: black;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  transform: translateY(101%);
  width: 100%;
}
.movie-details:hover .overview{
  transform: translateY(0%);
}
.rating{
  background-color: whitesmoke;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid grey;
  box-shadow: inset 0 5px 5px rgba(0,0,0,0.5);
  position: absolute;
  right: 5px;
  bottom: 5px;
}
h4{
  width: 150px;
  text-align: center;
}

@media (max-width: 400px)
{
  .header{
    height:180px;
  }
  nav ul{
    display: flex;
    flex-direction: column;

  }
  nav ul li{
    padding-top: 10px;
  }
  .search-btn{
    width: 200px;
    margin-right: 100px;
  }
}




